<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>用户注册</title>
<link rel="stylesheet" href="__CSS__/css.css" type="text/css">
<link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css">
<style type="text/css">
  td{
    height:30px;
    text-align: center;
  }
  .book{
    margin:50px 50px 0 50px;
  }
  .table{
    margin-top:30px;
  }
  .btn{
    color:white;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:#1F7FD2;
    border:0;
  }
  .ull ul{
    margin:0 auto;

  }
  .ull ul li{
    float:left;
    margin-right:20px; 

  }
  h2{
    text-align: center;
  }

</style>
</head>
<body>
<div class="main">
  <div class="book">
    <h2>教师信息</h2>
<form id="form1" name="form1" method="get" action="{:U('banzhuzren_list')}">
  搜索:账号:
  <input name="username" type="text" id="username" value="{$_GET['username']}" />
  姓名:
  <input name="name" type="text" id="name" value="{$_GET['name']}"/>
  <input class="btn" type="submit" name="Submit" value="查找" />
</form>
<br>
<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#6699CC" style="border-collapse:collapse">  
  <tr>
    <td width="25" bgcolor="#EBE2FE">序号</td>
    <td width="94" bgcolor='#EBE2FE'>账号</td>
    <td width="94" bgcolor='#EBE2FE'>姓名</td>
    <td width="94" bgcolor='#EBE2FE'>班级</td>
    <td width="120" align="center" bgcolor="#EBE2FE">添加时间</td>
    <td width="70" align="center" bgcolor="#EBE2FE">操作</td>
  </tr>
  <foreach name="data" item="value" key="k">
    <tr>
      <td>{$k+1}</td>
      <td>{$value.username}</td>
      <td>{$value.cx}</td>
      <td>{$value.classes}</td>
      <td>{$value.addtime}</td>
      <td><a href="{:U('Home/User/banzhuren_edit', array('id'=>$value['id']))}" title="编辑"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
         <a href="{:U('Home/User/banzhuren_del', array('id'=>$value['id']))}" title="删除"><span class="glyphicon glyphicon-trash"></span></a>
        </td> 
    </tr>
  </foreach>
  </table>
  </div>
  
<p>&nbsp; </p>
<!-- <div class="ull">
    <ul style="list-style: none;position:absolute;top:660px;font-size:23px;color:white;">
    <if condition="$page gt 1">
     <li><a class="btn btn-primary glyphicon glyphicon-chevron-left" href="{:U('manage', array('page'=>$pre))}"></a></li>
    </if>
    
    <for start="1" end="$pages+1">
      <li><a class="btn btn-primary" style="font-size:16px;" href="{:U('manage', array('page'=>$i))}">{$i}</a></li>
    </for>

    <if condition="$page lt $pages">
      <li><a  class="btn btn-primary glyphicon glyphicon-chevron-right" href="{:U('manage', array('page'=>$next))}"></a></li>
    </if>
    </ul>
  </div> -->
</div>

</body>
</html>
