<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>申请书审核</title>
<link rel="stylesheet" href="__CSS__/css.css" type="text/css">
<link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css">
</head>
<style type="text/css">
  td{
    text-align: center;
    height:30px;
  }
  .main{
    margin:70px 80px;
  }
  .select{
    margin-bottom: 20px;
  }
  .btn-info{
    height:25px;
    font-size:16px;
    /*line-height:25px;*/
  }
</style>

<body>
  <div class="main">
    <div class="select">
  <form id="form1" name="form1" method="post" action="{:U('teachersee')}">
  搜索:<select name="year" id="year" onChange="autoSubmit();">
    <option  value="">学年</option>
     <option  value="2016">2016</option>
    <option  value="2017">2017</option>
    <if condition="$year eq 2016">
       <option value="2016" selected>2016</option>
    </if>
    <if condition="$year eq 2017">
      <option value="2017" selected>2017</option>
    </if>
      </select>
  <select name="classes" id="classes" onChange="autoSubmit();">
    <option  value="">班级</option>
    <foreach name="class" item="value">
    <option value="{$value}">{$value}</option>
    <if condition="$classes eq $value">
      <option value="{$value}" selected>{$value}</option>
    </if>
  </foreach>

  </select>
  
    <select name="mingcheng" id="mingcheng" onChange="autoSubmit();">
    <option  value="">奖项</option>
    <foreach name="ming" item="value">
    <option value="{$value}">{$value}</option>
    <if condition="$mingcheng eq $value">
      <option value="{$value}" selected>{$value}</option>
    </if>
  </foreach>

  </select>
  学号:
  <input name="username" type="text" id="username" />
  姓名:
  <input name="name" type="text" id="name" />
  <input type="submit" name="Submit" value="查找" />
  
</form>
</div>
<div class="table">
  <table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#6699CC" style="border-collapse:collapse">  
  <tr>
    <td width="90" bgcolor="#EBE2FE">序号</td>
    <td width="90" bgcolor='#EBE2FE'>学年</td>
    <td width="90" bgcolor='#EBE2FE'>姓名</td>
    <td width="90" bgcolor='#EBE2FE'>申请类别</td>
    <td width="90" bgcolor='#EBE2FE'>申请名称</td>
    <td width="90" bgcolor='#EBE2FE'>专业奖学金总分</td>
    <td width="90" bgcolor='#EBE2FE'>专业奖学金排名</td>
    <td width="90" bgcolor='#EBE2FE'>申请理由</td>
    <td width="90" align="center" bgcolor="#EBE2FE">测评详情</td>
    <td width="90" align="center" bgcolor="#EBE2FE">申请时间</td>
  </tr>
</table>
<br>
<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#6699CC" style="border-collapse:collapse">  
  <if condition="$count1 gt 0" >
  <p style="text-align: center;">一等奖申报名单({$count1}人)</p>
</if>
  <foreach name="data1" item="value" key="k">
    <tr>
      <td width="90">{$k+1}</td>
      <td width="90">{$value.year}</td>
      <td width="90">{$value.name}</td>
      <td width="90">{$value.leibie}</td>
      <td width="90">{$value.mingcheng}</td>
      <td width="90">{$value.together}</td>
      <td width="90">{$value.rank}</td>
      <td width="90">{$value.instruction}</td>
      <td width="90"><a  href="{:U('Home/Ceping/ceping1', array('username'=>$value['username']))}" title="点击通过"><span class="btn btn-info">查看详情</span></a></td>
      <td width="90">{$value.addtime}</td>
    </tr>
  </foreach>
</table>
<br>
<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#6699CC" style="border-collapse:collapse"><if condition="$count2 gt 0" >  
  <p style="text-align: center;">二等奖名单({$count2}人)</p>
</if>
   <foreach name="data2" item="value" key="k">
    <tr> 
      <td width="90">{$k+1}</td>
      <td width="90">{$value.year}</td>
      <td width="90">{$value.name}</td>
      <td width="90">{$value.leibie}</td>
      <td width="90">{$value.mingcheng}</td>
      <td width="90">{$value.together}</td>
      <td width="90">{$value.rank}</td>
      <td width="90">{$value.instruction}</td>
      <td width="90"><a  href="{:U('Home/Ceping/ceping1', array('username'=>$value['username']))}" title="点击通过"><span class="btn btn-info">查看详情</span></a></td>
      <td width="90">{$value.addtime}</td>
    </tr>
  </foreach>
</table>
<br>
<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#6699CC" style="border-collapse:collapse">  
<if condition="$count3 gt 0" >
  <p style="text-align: center;">三等奖名单({$count3}人)</p>
</if>
   <foreach name="data3" item="value" key="k">
    <tr>
      <td width="90">{$k+1}</td>
      <td width="90">{$value.year}</td>
      <td width="90">{$value.name}</td>
      <td width="90">{$value.leibie}</td>
      <td width="90">{$value.mingcheng}</td>
      <td width="90">{$value.together}</td>
      <td width="90">{$value.rank}</td>
      <td width="90">{$value.instruction}</td>
      <td width="90"><a  href="{:U('Home/Ceping/ceping1', array('username'=>$value['username']))}" title="点击通过"><span class="btn btn-info">查看详情</span></a></td>
      <td width="90">{$value.addtime}</td>
    </tr>
  </foreach>
</table>
</div>
  </div>


</body>
<script type="text/javascript">
 function autoSubmit(){
 var form1=document.getElementById("form1");
  form1.submit();
} 
</script>
</html>

